:root {
    --padding-page: 100px;
    --color-words: #7c86aa;
    --color-pharagraph: #c1bac5;
    --color-red: #ff3946;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 992px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


/* start btn red */

.btn-1 {
    background-color: var(--color-red);
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 40px;
    color: white;
    outline: none;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}


/* start btn white  */

.btn-2 {
    background-color: white;
    padding: 10px 15px;
    border-radius: 40px;
    color: var(--color-words);
    outline: none;
    border: none;
    margin-top: 60px;
    font-weight: bold;
    cursor: pointer;
}


/* end btn  */

header {
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--color-words);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header img {
    width: 75px;
    position: absolute;
    left: 15px;
    top: 28px;
}

header nav {
    flex-basis: 50%;
    display: flex;
    margin-left: 50px;
}

header .container nav .fa-bars {
    position: absolute;
    right: 256px;
    top: 15px;
    font-size: 25px;
    display: none;
}

@media (max-width: 768px) {
    header .container nav .fa-bars {
        display: flex;
        position: absolute;
        left: 35%;
        transform: translateX(-50%);
    }
}

header ul {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }
    header nav .fa-bars:hover+ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 68px;
        background-color: #00000087;
        left: 0px;
        color: white;
    }
}

header ul li {
    padding: 15px 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    header ul li {
        border-bottom: 1px solid black;
    }
    header ul li:hover {
        margin-left: 15px;
    }
}

header .contact {
    color: var(--color-words);
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
}

header .contact span {
    font-weight: 500;
    margin-top: 12px;
    margin-right: 15px;
    position: relative;
}

header .contact span i {
    position: absolute;
    bottom: 12px;
    left: 6px;
}

header .contact button {
    padding: 10px 20px;
    color: var(--color-red);
    border-radius: 3px;
    background-color: white;
    box-shadow: 1px 3px 9px black;
    outline: none;
    border: none;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


/* end header */


/* start head  */

.head {
    padding-top: var(--padding-page);
    padding-bottom: var(--padding-page);
}

.head .container {
    display: flex;
    justify-content: space-between;
}

.head .head-left {
    flex-basis: 50%;
}

@media (max-width: 992px) {
    .head .head-left {
        flex-basis: 100%;
        text-align: center;
        padding-left: 70px;
    }
}

@media (max-width: 768px) {
    .head .head-left {
        flex-basis: 100%;
        text-align: center;
        padding-left: 0px;
    }
}

.head .head-left .text {
    max-width: 550px;
}

.head .head-left .text h1 {
    font-size: 50px;
    color: var(--color-words);
}

.head .head-left .text p {
    color: var(--color-pharagraph);
}

.head .head-left .text .btn-1 {
    background-color: var(--color-red);
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 40px;
    color: white;
    outline: none;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}

.head .head-left .text .btn-2 {
    background-color: white;
    padding: 10px 15px;
    border-radius: 40px;
    color: var(--color-words);
    outline: none;
    border: none;
    margin-top: 60px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .head .head-left .text .btn-2 {
        margin-left: 0px;
    }
}

.head .head-left .text button:focus {
    outline: none;
    border: none;
}

.head .head-right {
    flex-basis: 40%;
    position: relative;
}

.head .head-right img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

@media (max-width: 992px) {
    .head .head-right {
        flex-basis: 0px;
    }
    .head .head-right img {
        display: none;
    }
}


/* end head  */


/* start content  */

.content {
    padding-top: var(--padding-page);
    padding-bottom: var(--padding-page);
}

.content .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .content .container {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .content .container {
        flex-direction: column;
    }
    .content .container .text {
        text-align: center;
    }
}

.content .container .text {
    flex-basis: 30%;
}

.content .container .text h1 {
    color: var(--color-words);
    font-size: 40px;
    margin: 0px;
}

.content .container .parts {
    flex-basis: 68%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 768px) {
    .content .container .parts {
        flex-basis: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {
    .content .container .parts {
        margin-top: 50px;
    }
}

.content .container .parts .srv {
    width: 47%;
    box-shadow: 10px 10px 30px #00000042;
    padding: 15px 30px 40px;
}

@media (max-width: 768px) {
    .content .container .parts .srv {
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .content .container .parts .srv {
        flex-basis: 100%;
    }
}

.content .container .parts .srv img {
    padding-top: 20px;
}

.content .container .parts .srv h1 {
    color: var(--color-words);
    margin-top: 50px;
}

.content .container .parts .srv p {
    color: var(--color-words);
    line-height: 2;
}


/* end content  */


/* start company  */

.company {
    padding-top: var(--padding-page);
    padding-bottom: var(--padding-page);
}

.company .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .company .container .img-company {
        flex-basis: 100%;
    }
    .company .container .img-company img {
        width: 100%;
    }
}

.company .container .text {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .company .container .text {
        margin-top: 50px;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .company .container {
        flex-wrap: wrap;
    }
    .company .container .text {
        margin-top: 50px;
        text-align: center;
    }
}

.company .container .text h4 {
    color: var(--color-red);
}

.company .container .text h1 {
    color: var(--color-words);
    text-transform: capitalize;
    line-height: 1.3;
}

.company .container .text p {
    color: var(--color-words);
    line-height: 1.8;
}


/* end company  */


/* start images box  */

.images {
    padding-top: var(--padding-page);
    padding-bottom: var(--padding-page);
}

.images .container .text {
    color: var(--color-words);
    margin-bottom: 50px;
    position: relative;
}

.images .container .text span {
    position: absolute;
    top: 53px;
    right: 0px;
    text-align: center;
}

.images .container .text span i:first-of-type {
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    right: 40px;
    top: 12px;
}

.images .container .text span i:nth-child(2) {
    font-size: 40px;
}

.images .container .images-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.images .container .images-box div {
    flex-basis: 32.6%;
}

@media (max-width: 992px) {
    .images .container .images-box div {
        flex-basis: 49%;
    }
}

@media (max-width: 768px) {
    .images .container .images-box div {
        flex-basis: 99%;
    }
}

.images .container .images-box div img {
    max-width: 100%;
}


/* end images box  */


/* start boxs  */

.boxs {
    padding-top: var(--padding-page);
    padding-bottom: var(--padding-page);
}

.boxs .container {
    display: flex;
    flex-direction: column;
}

.boxs .text {
    position: relative;
}

.boxs .text h4 {
    color: var(--color-red);
}

.boxs .text h1 {
    color: var(--color-words);
}

.boxs .text span {
    position: absolute;
    top: 53px;
    right: 0px;
    text-align: center;
    color: var(--color-words);
}

.boxs .text span i:first-of-type {
    font-size: 16px;
    margin-right: 5px;
    position: absolute;
    right: 40px;
    top: 12px;
}

.boxs .text span i:nth-child(2) {
    font-size: 40px;
}

.boxs-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 11px;
}

.boxs-content div {
    flex-basis: 30%;
    padding: 50px 45px 30px;
    box-shadow: 0px 0px 10px #00000042;
    color: var(--color-words);
    margin-left: 15px;
}

@media (max-width: 992px) {
    .boxs-content div {
        flex-basis: 47%;
    }
}

@media (max-width: 768px) {
    .boxs-content div {
        flex-basis: 100%;
    }
}

.boxs-content div:first-of-type {
    background-color: var(--color-red);
    color: white;
}

.boxs-content div h2 {
    margin-bottom: 20px;
}

.boxs-content div h5 {
    margin-bottom: 30px;
    color: var(--color-pharagraph);
}

.boxs-content div p {
    line-height: 1.8;
    margin-bottom: 50px;
}

.boxs-content div i {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 20px;
}


/* end boxs  */


/* start contact us  */

.contact-2 {
    padding-top: var(--padding-page);
    padding-bottom: var(--padding-page);
}

.contact-2 .text h5 {
    color: var(--color-red);
}

.contact-2 .text h1 {
    color: var(--color-words);
}

.contact-2 .content-con {
    margin-top: 70px;
}

.contact-2 .content-con span {
    display: flex;
    justify-content: space-between;
}

.contact-2 .content-con span label {
    color: #7c86aa;
    padding: 20px 0px 0px;
    display: block;
    position: relative;
    bottom: 50px;
    left: 54px;
    font-weight: bold;
}

.contact-2 .content-con input[type="text"] {
    padding: 15px 20px;
    width: 45%;
}

.contact-2 .content-con label:last-of-type {
    margin-left: 50px;
    color: var(--color-words);
    font-weight: bold;
}

.contact-2 .content-con textarea {
    padding: 15px 20px;
    width: 42%;
    min-height: 150px;
    margin-left: 50px;
    margin-top: 15px;
}


/* end contact us  */


/* start footer  */

.footer {
    background-color: #314584;
    padding-top: var(--padding-page);
    padding-bottom: 20px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.footer .container h1 {
    color: var(--color-red);
}

.footer .container ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .container ul li {
    padding: 20px;
    font-weight: bold;
}

.footer .container h6 {
    font-size: 15px;
}

.footer .container span {
    padding: 20px;
    margin: 15px 20px;
    display: block;
}

.footer .container span i {
    padding: 20px 30px;
    font-size: 30px;
}


/* end footer  */